@use "../abstracts" as *;

/* ==============================
 * Utilities | Composition
 * ------------------------------ */
.container {
  --max-width: 60rem;
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
  margin-block-start: var(--flow-spacer, 1rem);
}

/* Flex
============== */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* Grid
============== */
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid--responsive {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--width, 300px), 100%), 1fr)
  );
}
