@use '../abstracts' as *;

/* ==============================
 * Utilities | Main
 * ------------------------------ */
.container {
  --max-width: 60rem;
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;

  &[data-width="lg"] {
    --max-width: 75rem;
  }
}

.flow > *:where(:not(:first-child)) {
  margin-block-start: var(--flow-spacer, 1rem);
}