@use '../abstracts' as *;

@each $font, $fonts in $type {
  @if $font == font-families {
    /* font families */
    @each $key, $value in $fonts {
      .ff-#{$key} {
        font-family: var(--ff-#{$key});
      }
    }
  } 
  
  @else if $font == font-weights {
    /* font weights */
    @each $key, $value in $fonts {
      .fw-#{$key} {
        font-weight: var(--fw-#{$key});
      }
    }
  } 
  
  @else if $font == font-sizes {
    @each $screen-size, $font-sizes in $fonts {
      @if $screen-size == sm {
        /* font sizes | sm screen */
        @each $key, $value in $font-sizes {
          .fs-#{$key} {
            font-size: var(--fs-#{$key});
          }
        }
      }
    }
  }
}