@use "../abstracts" as *;

/* ==============================
 * Components | Buttons
 * ------------------------------ */
$btnColor: map-get($colors, primary, 400);

.btn {
  display: inline-block;
  margin: 0;
  padding: 0.5em 1em;
  border: 0;

  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;

  background-color: $btnColor;
  color: #fff;

  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  &:is(:hover, :focus-visible) {
    background-color: scale-color($btnColor, $lightness: -20%);
  }

  &:active {
    transform: scale(0.97);
  }
}
